.laser {
    background: url(./images/Lazer.png)
}

.boom {
    background: url(./images/boom.png)
}

.shooter {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top: 0;
  border-bottom: 80px solid greenyellow;
}
  
.grid{
    position: relative;
    width: 800px;
    height: 800px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    overflow: hidden;
}

.grid div{
    width: 40px;
    height: 40px;
}

.invader{
    background-color: red;
    border-radius: 50%;
}