*{
  margin: 0;
  padding: 0;
}
.grid{
    background-color: black;
    width: 800px;
    height: 700px;
    position: relative;
    left: 25%;
}
.shooter{
 
 
 
 
 
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top: 0;
  border-bottom: 80px solid greenyellow;
}