
body {
    background: url(./images/space.jpg);
    background-size: contain;
}


.laser {
    background: url(./images/Lazer.png);
    filter: brightness(150%);
    background-size: contain;

    z-index: 3;
}


.boom {
    background: url(./images/boom.png);
    z-index: 2;
}

.shooter {
  color: wheat;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
  font-size: 40px;
}
.button{
    display: none;
    position: absolute;
    left: 50%;
    top: 60%;
    font-size: 25px;
}
.button:hover{
    transform: scale(1.2);
    cursor: pointer;
    text-shadow: 1px 1px 5px rgb(17, 17, 224);
}


.grid{
    position: relative;
    width: 800px;
    height: 700px;
    border: 10px solid rgb(21, 1, 81);
    display: flex;
    flex-wrap: wrap;
    background: url(./images/space.jpg);
    background-size: contain;
    overflow: hidden;
    left: 25%;
}

.grid div{
    width: 40px;
    height: 40px;
}

.invader{
    background: url(./images/invader.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;


}
.start{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    display: hidden;
}
.start:hover{
    cursor: pointer;
    text-shadow: 1px 1px 5px wheat;
    z-index: 7;
}